form {

	display: inline-flex;
	margin-top: 10px;

}

input {
	margin: 4px;
	width: auto;
	min-width:400px;
	border-radius: 2px;
	margin-left: 10px;
	margin-top: 10px;
}

button {
	margin-top: 10px;
	border-radius: 2px;
	max-height: 40px;

}

.inputQ {
	margin: 15px;
}
