.item {
	list-style-type: none;
	display: inline-flex;
}

.textReply, .item p {
	margin: auto;
	width: 150px;
	max-width: 350px;
	padding: 6px;
	border-radius: 2px;
	border-style: solid;
	border-width: 1px;
	border-color: gray;
	max-height: 50px;
	overflow-x: scroll;
}

.item img {
	height:50px;
}

.textReply {
padding-left: 20px;
}
