input {
  margin: 4px;
  width: auto;
  min-width: 400px;
  border-radius: 2px;
  margin-left: 10px;
  margin-top: 10px;
}

label {
  font-family: sans-serif;
}

button {
  margin-top: 10px;
  border-radius: 4px;
  max-height: 40px;
  padding: 5px;
}

span {
  color: white;
}

.inputQ {
  margin: 15px;
  border-radius: 4px;
  padding: 5px;
}
